.chart-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
}

.chart-card {
    /*grow, shrink, base width of 600px*/
    flex: 1 1 600px;

    /* don't shrink below this */
    min-width: 300px;

    /* don't grow beyond this */
    max-width: 800px;

    position: relative;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.chart-card:hover {
    box-shadow: 0 9px 15px rgba(0, 124, 255, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.new-statistic-card {
    display: flex;
    flex-direction: column;
}

.add-btn {
    opacity: 0; /* hidden by default */
}

.chart-card:hover .add-btn {
    opacity: 1; /* show on hover */
}

.add-form {
    display: none; /* hidden by default */
    gap: 8px;
    padding: 12px;
    align-items: center;
}

.add-form.visible {
    display: flex;
}