<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stats App</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
</head>
<body>
<header>Stats</header>

<div th:each="statistic : ${statistics}">
    <canvas
            th:id="${statistic.id}"
            th:data-title="${statistic.title}"
            th:data-x-axis-name="${statistic.xAxisName}"
            th:data-y-axis-name="${statistic.yAxisName}"
            th:data-x-values="${#strings.listJoin(statistic.xAxisValues, ',')}"
            th:data-y-values="${#strings.listJoin(statistic.yAxisValues, ',')}"
            class="line-chart"
            style="width:100%;max-width:700px">
    </canvas>
</div>

<script>
    document.querySelectorAll('.line-chart').forEach(canvas => {
        const xValues = canvas.dataset.xValues.split(',');
        const yValues = canvas.dataset.yValues.split(',');

        new Chart(canvas, {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                plugins: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: canvas.dataset.title,
                        font: { size: 16 }
                    }
                },
                scales: {
                    x: { title: { display: true } },
                    y: { title: { display: true } }
                }
            }
        });
    });
</script>

</body>
</html>